/** ESTILOS **/
/** COLOR BASE
  * FUNDO: #FFFFFF;
  * TEXTO: #999999;
  * GREEN: #B8D934;
  * GRAY: #585453;
  * BLUE: #00A2E3;
  * TRANSPARENCY: transparent url('../img/blank.png') top left;
  **/
  
/** LOADING **/
#loading{
	display: none;
	width:90%;
	height: auto;
	padding: 5px;
}
#loading img{
	width: 5%;
	height: auto;
	margin: 0;
	padding: 1px;
}

/** CALENDAR **/
#calendar .fc-event{
	box-shadow: 2px 2px 2px #706868;
	background-color: #00A2E3;
	color: #FFFFFF;
	text-align: center;
	cursor: help;
	font-size: 80%;
}
#calendar .old_event{
	background-color: #AEC6CF;
}
#calendar .day_event{
	background-color: #00A2E3;
}
#calendar .next_event{
	background-color: #FFB347;
}

/** CENTER TEXT **/
#center{
	width: 90%;
	height: 65%;
	min-width: 1024px;
	min-height: 560px;
	margin-top: 10px;
	margin-left: 5%;
	padding-top: 10px;
	padding-left: 10px;
	text-indent: 10px;
	background: transparent url('../img/blank.png') top left;
	position: relative;
	float: left;
}

.center_conteudo{
	width: 99%;
	height: 99%;
	overflow: auto;
	position: relative;
	float:left;
}
.center_conteudo h1{
	text-indent: 5%;
	background-color: transparent;
	letter-spacing: 2px;
	padding-top: 5px;
	margin-bottom: 5px;
	font-size: 25px;
}
.center_conteudo h2{
	text-indent: 5%;
	background-color: transparent;
	letter-spacing: 2px;
	padding-top: 5px;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 18px;
}
.center_conteudo p{
	background-color: transparent;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 60px;
	margin-right: 10px;
	text-indent: 15px;
	text-align: justify;
	font-size: 100%;
}
.center_conteudo ul{
	background-color: transparent;
	margin-top: 15px;
	margin-bottom: 5px;
	margin-left: 80px;
	margin-right: 10px;
	text-indent: 15px;
	text-align: justify;
	font-size: 100%;
}
.center_conteudo li{
	margin-bottom: 5px;
}

/** GERAL **/
td{
	text-indent: 2px;
}
.bold{
	font-weight: bold;
}
ul li{
	list-style-type: none;
}

.texto_center{
	vertical-align: center;
}

/** FORMS **/
form label{
	text-indent: 5px;
}
form input{
	margin-left: 5px;
	text-indent: 2px;
	left: 5px;
}
form input:hover,form input:focus{
	color: #00A2E3;
}
form button{
	margin: 10px;
}

/** ATUACAO **/
.atuacao_nao
{
	text-decoration: line-through;
}

/** FOOTER **/
#footer{
	width: 86%;
	min-width: 530px;
	height: 10px;
	margin-left: 5%;
	position: relative;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	text-align: center;
}
#footer p{
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
}
